<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">


<generatorConfiguration>
    <classPathEntry location="src/main/resources/mybatis/mysql-connector.jar"/>

    <context id="RuntimeTables-MANAGE" targetRuntime="MyBatis3">

        <plugin type="org.mybatis.generator.plugins.RowBoundsPlugin"/>
        <!--<plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin"></plugin>-->
        <commentGenerator>
            <property name="suppressAllComments" type="true"/>
            <property name="suppressDate" type="true"/>
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/tim.polling.dev" userId="hunter_hw2_sft"
                        password="hunter_hw2_sft_0905">
        </jdbcConnection>
        <javaTypeResolver>
            <property name="forceBigDecimals" type="false"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.hunter.iot.platform.register.global.dao" targetProject="src\main\java">
            <property name="enableSubPackages" type="true"/>
            <property name="trimStrings" type="true"/>
            <property name="constructorBased" type="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources/mybatis/">
            <property name="enableSubPackages" type="true"/>
        </sqlMapGenerator>
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.hunter.iot.platform.register.global.dao"
                             targetProject="src\main\java">
            <property name="enableSubPackages" type="true"/>
        </javaClientGenerator>

        <table tableName="t_device" domainObjectName="DeviceRecord" enableCountByExample="true" enableSelectByExample="true">
            <generatedKey column="id" sqlStatement="JDBC"/>
        </table>
    </context>
</generatorConfiguration>